<!DOCTYPE html>
<html>
<head>
	<title>Add Bunny</title>
</head>
<body>
	<a href = '/'>Home</a><br><br>
	<form action = '/bunnies/new_method' method = 'post'>
		Name: <input type = 'text' name = 'name'><br>
		Gender: <select name = 'gender'>
			<option value = 'Male'>Male</option>
			<option value = 'Female'>Female</option>
		</select><br>
		Age: <input type = 'text' name = 'age'><br><br>

		<input type = 'submit' value = 'Add Bunny!'><br>
	</form>

</body>
</html>